    * {
        margin: 0 !important;
        font-family: "Bebas Neue", cursive;
        scroll-behavior: smooth;
    }
    
    a {
        text-decoration: none;
    }
    
    .navbar {
        height: 10vh;
        background-color: white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        position: fixed;
    }
    /* Home Container */
    
    .home {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    
    .home-image-container {
        width: 50%;
        height: 100vh;
    }
    
    .home-image-container img {
        height: 100vh;
        width: 100%;
    }
    
    .home-text-container {
        width: 50%;
        height: 100vh;
        display: block;
    }
    
    .home-name-container {
        height: 50%;
    }
    
    .home-name-container h1 {
        font-weight: 900;
        font-size: 250px;
        color: white;
        line-height: 250px;
        text-align: center;
        padding-top: 15vh;
    }
    
    .home-links-container {
        height: 50%;
        padding-top: 15vh;
    }
    
    .home-links-container h2 {
        font-size: 40px;
        color: white;
        line-height: 60px;
        text-align: center;
        transition: all 0.5s ease;
        letter-spacing: 0.5px;
    }
    
    .home-links-container h2:hover {
        letter-spacing: 2px;
        color: #648456
    }
    /* About Container */
    
    .about {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    
    .about-text-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about-text-container p {
        font-size: 80px;
        text-align: left;
        line-height: 70px;
        width: 80%;
        color: white;
    }
    
    .about-image-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about-image-container img {
        width: 50%;
        height: 60%;
        object-fit: cover;
        filter: saturate(1);
    }
    /* Filmography */
    
    .film {
        height: 100vh;
        width: 100%;
        background-image: url("./images/malachi.png");
        background-repeat: no-repeat;
        background-position: left;
        background-color: black;
    }
    
    .film h2 {
        font-size: 180px;
        color: red;
        padding-left: 5vw;
        padding-top: 5vh;
        letter-spacing: 30px;
        position: absolute;
    }
    
    .film h4 {
        font-size: 40px;
        letter-spacing: 5px;
        color: red;
    }
    
    .film h6 {
        font-size: 25px;
    }
    
    .filmography-list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 80px;
        position: relative;
        left: 5vw;
        top: 65vh;
        color: white;
        width: 90vw;
        flex-wrap: wrap;
        letter-spacing: 1px;
    }
    
    .filmography-list a {
        text-decoration: none;
        color: white;
        transition: all 0.5s ease;
    }
    
    .filmography-list a:hover {
        color: red;
    }